#venv in backend folder
backend/venv/

#fastapi related files
backend/app/__pycache__/
*.pyc

#test related files
backend/.coverage
backend/tests/__pycache__/
backend/.pytest_cache/

#db
data.db

#security env
backend/.env
.env